@import "../../../scss/core.scss";
@import "../../../scss/responsive.scss";

.logoAnchor {
  &:hover {
    text-decoration: none;
  }
}

.logoNav {
  max-height: 50px;

  @include responsive('md') {
    max-height: 60px;
  }
}

.logoFront {
  height: 140px;

  @include responsive('md') {
    height: 150px;
  }
}

.logoFront__wrapper {
  margin-bottom: 50px;
}

.logoFront__wrapperCenter {
  display: flex;
  align-items: center;
}

.logoText {
  color: white;
  text-align: center;

  &Inline {
    @extend .logoText, %fw-bold;
    @include fs-18;

    @include responsive('md') {
      @include fs-20;
    }
  }

  &Below {
    @extend .logoText, %fw-bold;
    @include fs-34;

    @include responsive('md') {
      @include fs-38;
    }
  }
}
