@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../../scss/core.scss";
@import "../../../../scss/responsive.scss";

.SearchItem {
  @extend .col-6, .col-lg-3, .mb-3;

  .ImgWrapper {
    @extend .w-100;
    overflow: hidden;
    height: 200px;

    @include responsive('md') {
      height: auto;
    }

    .Img {
      @extend .w-100;
    }
  }

  .MovieTitle {
    @extend .font-weight-bold, .my-2, %fc-gray, %fs-18;
  }
}
