@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../../scss/core.scss";
@import "../../../../scss/responsive.scss";

.HeadImage {

  &__wrapper {
    overflow: hidden;
    max-height: 195px;


    @include responsive('sm') {
      max-height: 265px;
    }
    @include responsive('md') {
      max-height: 405px;
    }
    @include responsive('lg') {
      display: flex;
      justify-content: center;
      align-items: stretch;
      max-height: 650px;
    }
  }

}

.HeadContent {
  // @extend .mt-2;
  margin-top: .2rem;

  @include responsive('md') {
    margin-top: .5rem;
  }

  .HeadTitle {
    @extend .text-white;
    font-size: 1.1rem;
    margin-bottom: 0;

    @include responsive('md') {
     font-size: 1.25rem; 
     margin-bottom: 10px;
    }
  }

  .HeadDetail {
    @extend .py-2;
    display: flex;
    flex-wrap: wrap;

    &Rating {
      @extend .HeadDetail;
      justify-content: space-between;
    }

    &Genre {
      @extend .HeadDetail;
      margin-top: 35px;
    }
  }
}
