@import "../../../../scss/responsive.scss";

.MenuBurger {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  cursor: pointer;
  padding: 10px;
  max-width: 70px;
  //   max-height: 25px;
  // max-width: 25px;

  // @include responsive("md") {
  //   max-width: 55px;
  // }
  &:hover {
    .MenuBurger__iconLeft,
    .MenuBurger__iconRight {
      width: 100%;
    }
  }
  &__icon {
    display: block;
    background-color: #fff;
    height: 5px;
    margin-top: 4px;
    border-radius: 10px;
    transition: 0.3s;
  }
  &__iconLeft {
    @extend .MenuBurger__icon;
    width: 50%;
    align-self: flex-start;
    // &:hover {
    //   width: 100%;
    // }
  }
  &__iconRight {
    @extend .MenuBurger__icon;
    width: 50%;
    align-self: flex-end;
    // &:hover {
    //   width: 100%;
    // }
  }
}

@media only screen and (max-width: 415px) {
  .MenuBurger {
    max-width: 25px;
    padding: 0;
    &__icon {
      height: 3px;
    }
  }
}
