@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../../scss/core.scss";
@import "../../../../scss/responsive.scss";

.DetailMuted {
    @extend .text-white;
    font-size: 12px;
    opacity: .6;
    flex-basis: 65px;
    margin-bottom: 8px;

    @include responsive('md') {
        font-size: 16px;
        flex-basis: 80px;
    }
    .Icon {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        &Calendar {
            @extend .Icon, %mr-8px;
            &::before {
                content: "\f073";
            }
        }

        &Clock {
            @extend .Icon, %mr-8px;
            &::before {
                content: "\f017";
            }
        }

        &Info {
            @extend .Icon, %mr-8px;
            &::before {
                content: "\f059";
            }
        }
    }
}