@import '../../../../scss/responsive.scss';

.Rating {
    display: flex;
    align-items: center;
    font-size: 12px;

    @include responsive ('md') {
        font-size: 16px;
    }

    &Icon {
        margin-right: 10px;
        max-height: 20px;
        max-width: 30px;

        @include responsive ('md'){
            max-height: 25px;
            max-width: 35px;
        }
    }
}