@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
}

$gradient-top: #ff6d5a;
$gradient-bottom: #ff4158;
$gray: #999;
$gold: #a78a4e;

// BG COLOR
%bg-gradient-primary {
  background-image: linear-gradient(to bottom, $gradient-top, $gradient-bottom);
}
// END BG COLOR

// FONT
%fs-38 {
  font-size: 38px;
}
@mixin fs-38 {
  font-size: 38px;
}
@mixin fs-34 {
  font-size: 34px;
}
%fs-20 {
  font-size: 20px;
}
@mixin fs-20 {
  font-size: 20px;
}
%fs-18 {
  font-size: 18px;
}
@mixin fs-18 {
  font-size: 18px;
}
%fw-bold {
  font-weight: bold;
}
%fc-gray {
  color: $gray;
}
// END FONT

// MARGIN
%mr-8px {
  margin-right: 8px;
}
// END MARGIN

// SHADOW
%light-shadow {
  box-shadow: 0 0.3rem .8rem rgba(0, 0, 0, 0.15);
}
// END SHADOW

// BORDER
%border-12px {
  border-radius: 12px;
}
// END BORDER